<h1>Add Users</h1>
{{#if error}} <span>{{error}}</span> {{/if}}
<form class="" method="POST" action="/user/add">
    <div class="form-group">
        <label>ID</label>
        <input type="text" placeholder="ID" class="form-control" name="id" />
    </div>
    <div class="form-group">
        <label>First Name</label>
        <input type="text" placeholder="First Name" class="form-control" name="first_name">
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" placeholder="Last Name" class="form-control" name="last_name" />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" placeholder="Email" class="form-control" name="email" />
    </div>
    <div class="form-group">
        <label>Phone</label>
        <input type="text" placeholder="Phone" class="form-control" name="phone" />
    </div>
    <input type="submit" class="btn btn-primary" value="Save" />
</form>